doctype html
html(lang='ru')
	head
		title Тестовое задание
		meta(name='description', content=headDescription)
		link(rel='stylesheet', href='css/style.css')
		link(rel='stylesheet', href='css/app.css')
		link(rel='stylesheet', href='css/some_static.css')
		link(href='https://fonts.googleapis.com/css?family=Noto+Sans:400,700|Noto+Serif|Playfair+Display', rel='stylesheet')
		script(src='js/some_static.js')
		link(rel='icon', href='images/some_static.jpg')
		
	body
		.block.photoday
			.wrapper__block
				.header__block
					h3.title__block День фото
					.title__decor
				.main__block
					.photo__block
						.date__block
							span.main__photo--data 21 сентября
						.main__photo
							img.main__photo--img(src="images/main.jpg" srcset="images/main@2x.jpg 2x, images/main@3x.png 3x")
					.row__block
						.photo__thumb
							img.photo__thumb--img(src="images/thumb.png" srcset="images/thumb@2x.png 2x, images/thumb@3x.png 3x")
						.photo__thumb
							img.photo__thumb--img(src="images/thumb2.png" srcset="images/thumb2@2x.png 2x, images/thumb2@3x.png 3x")
						.photo__thumb
							img.photo__thumb--img(src="images/thumb3.png" srcset="images/thumb3@2x.png 2x, images/thumb3@3x.png 3x")
						.photo__thumb
							img.photo__thumb--img(src="images/thumb.png" srcset="images/thumb@2x.png 2x, images/thumb@3x.png 3x")
					.row__block
						.photo__thumb
							img.photo__thumb--img(src="images/thumb.png" srcset="images/thumb@2x.png 2x, images/thumb@3x.png 3x")
						.photo__thumb
							img.photo__thumb--img(src="images/thumb.png" srcset="images/thumb@2x.png 2x, images/thumb@3x.png 3x")
					.row__block
						.banner
							img.banner--img(src="images/banner__320.png")
							img.photos__thumb--img
					.row__block
						.photo__thumb.date_thumb
							span.date__thumb 20 сентября
							img.date__thumb--img(src="images/daterow.png")
						.photo__thumb
							img.photo__thumb--img(src="images/thumb2.png" srcset="images/thumb2@2x.png 2x, images/thumb2@3x.png 3x")
						.photo__thumb
							img.photo__thumb--img(src="images/thumb2.png" srcset="images/thumb2@2x.png 2x, images/thumb2@3x.png 3x")
						.photo__thumb
							img.photo__thumb--img(src="images/thumb2.png" srcset="images/thumb2@2x.png 2x, images/thumb2@3x.png 3x")
					.row__block
						.photo__thumb
							img.photo__thumb--img(src="images/thumb.png" srcset="images/thumb@2x.png 2x, images/thumb@3x.png 3x")
						.photo__thumb
							img.photo__thumb--img(src="images/thumb.png" srcset="images/thumb@2x.png 2x, images/thumb@3x.png 3x")
						.photo__thumb.date_thumb
							span.date__thumb 19 сентября
							img.date__thumb--img(src="images/daterow.png")
						.photo__thumb
							img.photo__thumb--img(src="images/thumb.png" srcset="images/thumb@2x.png 2x, images/thumb@3x.png 3x")
					.row__block
						.photo__thumb
							img.photo__thumb--img(src="images/thumb3.png" srcset="images/thumb3@2x.png 2x, images/thumb3@3x.png 3x")
						.photo__thumb
							img.photo__thumb--img(src="images/thumb3.png" srcset="images/thumb3@2x.png 2x, images/thumb3@3x.png 3x")
						.photo__thumb
							img.photo__thumb--img(src="images/thumb3.png" srcset="images/thumb3@2x.png 2x, images/thumb3@3x.png 3x")
						.photo__thumb
							img.photo__thumb--img(src="images/thumb3.png" srcset="images/thumb3@2x.png 2x, images/thumb3@3x.png 3x")
					.row__block
						.photo__thumb
							img.photo__thumb--img(src="images/thumb2.png" srcset="images/thumb2@2x.png 2x, images/thumb2@3x.png 3x")
				.footer__block
					.nav
						span.nav__prev.nav__text Страницы
					.nav
						nav.block__nav
							ul.list__nav-block
								li.list__nav-item.item--active
									a.nav__item-link 1
								li.list__nav-item
									a.nav__item-link 2
								li.list__nav-item
									a.nav__item-link 3
								li.list__nav-item
									a.nav__item-link 4																											
					.nav
						a.nav__nex.nav__text Следующая